{% load static %}

<div id="achievements">
    <div class="achievements-div-1"><!--ACHIEVEMENTS-->
        <div class="achievements-div-2"><!--SLIDER-->
            <div class="achievements-div-2-items"><!--SLIDER ITEMS-->
                <img src="{% static 'images/certificate/javascript_intermediate.jpg' %}" alt="">
            </div>
            <div class="achievements-div-2-items">
                <img src="{% static 'images/certificate/introduction_to_javascript.jpg' %}" alt="">
            </div>
            <div class="achievements-div-2-items">
                <img src="{% static 'images/certificate/the_great_hackathon.jpg' %}" alt="">
            </div>
            <div class="achievements-div-2-items">
                ITEM 4
            </div>
            <div class="achievements-div-2-items">
                ITEM 5
            </div>
            <button class="achievements-div-2-next"><i class="fa fa-angle-double-right"></i></button>
            <button class="achievements-div-2-prev"><i class="fa fa-angle-double-left"></i></button>
        </div>
    </div>
    <div class="achievements-title"><!--TITLE-->
        <h1>ACHIEVEMENTS</h1>
    </div>
    <div id="character-3" class="character"><!--CHARACTER 3-->
        <img src="{% static 'images/vecteezy/img3.png' %}" alt="Vecteezy 3">
        <div>
            <!---->
        </div>
    </div>
</div>