{% load static %}

<div id="base">
    <div id="navigation"> <!--NAVIGATION-->
        <img id="logo" src="{% static 'images/main/logo.png' %}" alt="mylogo">
        <nav>
            <ul>
                <li><a class="a-contact" href="#contact">myContact</a></li>
                <li><a class="a-achievements" href="#achievements">myAchievements</a></li>
                <li><a class="a-skills" href="#skills">mySkills</a></li>
                <li><a class="a-home" href="">Home</a></li>
            </ul>
        </nav>
    </div>

    <div id="intro-con">
        <div id="introduction"><!--INTRODUCTION-->
            <h1>
                <span>E</span>
                <span>B</span>
                <span>R</span>
                <span>I</span>
                <span>A</span>
                <span>N</span>
            </h1>
            <p>I'm a <span></span></p>
        </div>
    </div>
</div>