{% load static %}

<div id="base">
    <div id="navigation"> <!--NAVIGATION-->
        <img id="logo" src="{% static 'images/main/logo.png' %}" alt="mylogo">
        <nav>
            <ul>
                <li><a href="">myContact</a></li>
                <li><a href="">myAchievements</a></li>
                <li><a href="">mySkills</a></li>
                <li><a href="">Home</a></li>
            </ul>
        </nav>
    </div>

    <div id="intro-con">
        <div id="introduction"><!--INTRODUCTION-->
            <h1>
                <span>E</span>
                <span>B</span>
                <span>R</span>
                <span>I</span>
                <span>A</span>
                <span>N</span>
            </h1>
            <p>I'm a <span></span></p>
        </div>
    </div>

    <div id="character-1" class="character"><!--CHARACTER 1-->
        <img src="{% static 'images/vecteezy/img1.png' %}" alt="Vecteezy 1">
        <div>
            <!---->
        </div>
    </div>
</div>