{% load static %}

<div id="contact">
    <div class="contact-div-1">
        <div id="contact-text">
            <p>Skilled and motivated computer programmer and developer, knowledgeable in web development and data science, prioritizing to develop high-quality programs and organized codes. A good communicator with excellent problem-solving skills and a passion for continuous learning.</p>

            <h1>JOHN EBRIAN S. MANALO</h1>
            <h3>BS Computer Science</h3>
        </div>

        <img id="contact-profile" src="{% static 'images/main/profile.png' %}" alt="">

        <div class="contact-div-2">
            <div class="contact-div-3">
                <a href="https://www.linkedin.com/in/ebriancs/"><i class="fa fa-linkedin-square"></i></a>
                <a href="https://github.com/ebriancs" target="_blank"><i class="fa fa-github"></i></a>
                <a href=""><i class="fa fa-envelope-square"></i></a>
                <i id="details-i" class="fa fa-address-card-o"></i>
            </div>
            <div class="contact-div-4">
                <h3>LINKEDIN</h3>
                <h3>GITHUB</h3>
                <h3>EMAIL</h3>
                <h3>DETAILS</h3>
            </div>
        </div>
    </div>
</div>