<div id="details">
    <table>
        <tr>
            <th>Name</th>
            <td>{{ myname }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ myemail }}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{{ mygender }}</td>
        </tr>
        <tr>
            <th>Birthdate</th>
            <td>{{ mybirth }}</td>
        </tr>
        <tr>
            <th>Height</th>
            <td>{{ myheight }} cm</td>
        </tr>
        <tr>
            <th>Weight</th>
            <td>{{ myweight }} kg</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{ mynumber }}</td>
        </tr>
    </table>
</div>