{% load static %}

<div id="footer">
    <footer>
        <div id="footer-row-1" class="footer-row"><!--ROW 1-->
            <div class="footer-column"><!--ROW 1 COLUMN 1-->
                <div><!--ROW 1 COLUMN 1-->
                    <h4>REFERRENCE</h4>
                    <ul>
                        <li>Images</li>
                    </ul>
                </div>
                <div><!--ROW 1 COLUMN 2-->
                    <h4>CONTACT</h4>
                    <ul>
                        <li>Phone: +639067067396</li>
                        <li>Email: ebrian.cs@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="footer-column"><!--ROW 1 COLUMN 2-->
                <h4>DEVELOPMENT TOOLS</h4>
                <div class="dev-tools-items">
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Python</li>
                        <li>SQL</li>
                    </ul>
                    <ul>
                        <li>JQuery</li>
                        <li>Django</li>
                        <li>Sqlite3</li>
                    </ul>
                    <ul>
                        <li>Linux</li>
                        <li>Git</li>
                        <li>Github</li>
                        <li>Vscode</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="footer-row-2" class="footer-row"><!--ROW 2-->
            <div class="footer-column"><!--ROW 2 COLUMNS-->
                <p>Developed by John Ebrian S. Manalo, with a Bachelor's Degree in Computer Science from Batangas State University</p>
            </div>
        </div>
    </footer>
</div>