{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/character.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/skills.css' %}">
    <link rel="stylesheet" href="{% static 'css/achievements.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <link rel="stylesheet" href="{% static 'css/message.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Main</title>
</head>
<body>
    <div id="disabler" class="container"><!--DISABLER-->
        <h1>CURRENTLY NOT AVAILABLE ON YOUR DEVICE</h1>
    </div>

    <div id="loader" class="container"><!--LOADER-->
        <h2>LOADING...</h2>
    </div>

    <div id="content" class="container"><!--CONTENT-->
        <div id="con-1" class="container"><!--CONTAINER 1-->
            {% include 'base.html' %}
        </div>
    
        <div id="con-2" class="container"><!--CONTAINER 2-->
            {% include 'skills.html' %}
        </div>
    
        <div id="con-3" class="container"><!--CONTAINER 3-->
            {% include 'achievements.html' %}
        </div>

        <div id="con-4" class="container"><!--CONTAINER 4-->
            {% include 'contact.html' %}
        </div>
    
        <div id="con-5" class="container"><!--CONTAINER 5-->
            {% include 'footer.html' %}
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script> 
</body>
</html>