{% load static %}

<div id="skills">
    <div class="skills-div-1">
        <div class="skills-div-2">
            <div class="skills-div-3">
                <h3>MORE</h3>
                <ul>
                    <li>Linux, Windows</li>
                    <li>Git, Github</li>
                    <li>Machine Learning</li>
                    <li>Data Analysis</li>
                    <li>Pandas, Numpy, Matplotlib, Plotly</li>
                </ul>
            </div>
            <div class="skills-div-3">
                <h3>BASIC KNOWLEDGE</h3>
                <ul>
                    <li>Bootstrap&nbsp;<img src="{% static 'images/skills/bootstrap.png' %}" alt=""></li>
                    <li>JQuery&nbsp;<img src="{% static 'images/skills/jquery.png' %}" alt=""></li>
                    <li>React&nbsp;<img src="{% static 'images/skills/react.png' %}" alt=""></li>
                    <li>Flask&nbsp;<img src="{% static 'images/skills/flask.png' %}" alt=""></li>
                </ul>
            </div>
            <div class="skills-div-3">
                <h3>ADVANCED KNOWLEDGE</h3>
                <ul>
                    <li>HTML&nbsp;<img src="{% static 'images/skills/html.png' %}" alt=""></li>
                    <li>CSS&nbsp;<img src="{% static 'images/skills/css.png' %}" alt=""></li>
                    <li>JavaScript&nbsp;<img src="{% static 'images/skills/javascript.png' %}" alt=""></li>
                    <li>Python&nbsp;<img src="{% static 'images/skills/python.png' %}" alt=""></li>
                    <li>SQL&nbsp;<img src="{% static 'images/skills/sql.png' %}" alt=""></li>
                    <li>Django&nbsp;<img src="{% static 'images/skills/django.png' %}" alt=""></li>
                    <li>Sqlite3&nbsp;<img src="{% static 'images/skills/sqlite3.png' %}" alt="">, MySQL&nbsp;<img src="{% static 'images/skills/mysql.png' %}" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="skills-title"><!--TITLE-->
        <h1>SKILLS</h1>
    </div>

    <div id="character-2" class="character"><!--CHARACTER 2-->
        <img src="{% static 'images/vecteezy/img2.png' %}" alt="Vecteezy 2">
        <div>
            <!---->
        </div>
    </div>
</div>