/*SKILLS CHARACTER*/
#skills-character {
    position: absolute;
    bottom: 6%;
    right: 10%;
    opacity: 0;
    z-index: 2;
    width: 200px;
    height: 300px;
}
#skills-character img {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 2;
    width: auto;
    height: 90%;
}
#skills-character div {
    background-color: rgb(25, 25, 25);
    position: relative;
    bottom: 60px;
    z-index: 1;
    width: 90%;
    height: 30%;
    border-top: 1px solid darkslategray;
    border-bottom: 10px solid darkslategray;
    border-left: 1px solid darkslategray;
    border-right: 5px solid darkslategray;
    border-radius: 50%;
    transition: transform 0.3s ease-out;
}
#skills-character div:hover {
    border-top: 1px solid cyan;
    border-bottom: 10px solid cyan;
    border-left: 1px solid cyan;
    border-right: 5px solid cyan;
    box-shadow: 0px 4px 4px rgba(0, 255, 255, 0.8);
    transform: scale(1.2);
}
#skills-character div.active {
    border-top: 1px solid cyan;
    border-bottom: 10px solid cyan;
    border-left: 1px solid cyan;
    border-right: 5px solid cyan;
    box-shadow: 0px 4px 4px rgba(0, 255, 255, 0.8);
    transform: scale(1.2);
}
@keyframes skills-character-floating { /*CHARACTER 2 ANIMATION*/
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes skills-character-entrance {
    0% {
        right: -15%;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes skills-character-img-entrance {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    70% {
        opacity: 0.25;
    }
    80% {
        opacity: 0.75;
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/*ACHIEVEMENTS CHARACTER*/
#achievements-character {
    position: absolute;
    bottom: 6%;
    left: 10%;
    opacity: 0;
    z-index: 2;
    width: 200px;
    height: 300px;
}
#achievements-character img {
    position: relative;
    bottom: 0;
    left: 42%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 2;
    width: auto;
    height: 90%;
}
#achievements-character div {
    background-color: rgb(25, 25, 25);
    position: relative;
    bottom: 60px;
    z-index: 1;
    width: 90%;
    height: 30%;
    border-top: 1px solid darkslategray;
    border-bottom: 10px solid darkslategray;
    border-left: 5px solid darkslategray;
    border-right: 1px solid darkslategray;
    border-radius: 50%;
    transition: transform 0.3s ease-out;
}
#achievements-character div:hover {
    border-top: 1px solid cyan  ;
    border-bottom: 10px solid cyan;
    border-left: 5px solid cyan;
    border-right: 1px solid cyan;
    box-shadow: 0px 4px 4px rgba(0, 255, 255, 0.8);
    transform: scale(1.2);
}
#achievements-character div.active {
    border-top: 1px solid cyan  ;
    border-bottom: 10px solid cyan;
    border-left: 5px solid cyan;
    border-right: 1px solid cyan;
    box-shadow: 0px 4px 4px rgba(0, 255, 255, 0.8);
    transform: scale(1.2);
}
@keyframes achievements-character-floating { /*CHARACTER 3 ANIMATION*/
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes achievements-character-entrance {
    0% {
        left: -15%;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes achievements-character-img-entrance {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    70% {
        opacity: 0.25;
    }
    80% {
        opacity: 0.75;
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
