#skills {
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.skills-div-1 {
    background-color: darkorange;
    position: relative;
    top: 2.5%;
    opacity: 0;
    height: 95%;
    margin: 0 15% 0 0;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills-title {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills-title h1 {
    transform: rotate(90deg);
    opacity: 0;
    font-size: 60px;
    letter-spacing: 10px;
}
.skills-div-2 {
    width: 90%;
    height: 90%;
    opacity: 0;
    display: flex;
    justify-content: space-between;
}
.skills-div-3 {
    background-color: orange;
    color: darkslategray;
    position: relative;
    opacity: 1;
    flex-basis: 33%;
    border-radius: 80px 5px 80px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-out;
}
.skills-div-3:hover {
    background-color: darkslategray;
    color: whitesmoke;
    z-index: 1;
    transform: scale(1.1);
}
.skills-div-3:first-child {
    height: 60%;
    margin-top: 20%;
}
.skills-div-3:nth-child(2) {
    height: 60%;
    margin-top: 10%;
}
.skills-div-3:last-child {
    height: 60%;
    margin-top: 1%;
}
.skills-div-3 h3 {
    text-align: center;
}
.skills-div-3 ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    width: 60%;
    height: 60%;
    text-align: center;
}
.skills-div-3 ul li {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-div-3 ul li img {
    width: 20px;
}

/*ANIMATION*/
@keyframes skills-div-1-entrance {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.skills-div-1-animation {
    animation: skills-div-1-entrance 1s ease forwards;
}
@keyframes skills-div-2-entrance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes skills-div-3-entrance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes skills-div-2-entrance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.skills-div-2-animation {
    animation: skills-div-2-entrance 1s ease-out forwards;
}
.skills-div-3-animation {
    animation: skills-div-3-entrance 1s ease-out forwards;
}
@keyframes skills-title-entrance {
    0% {
        transform: rotate(90deg) translateX(-100%);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.skills-title-animation {
    animation: skills-title-entrance 1s ease forwards;
}