body {
    background-color: rgb(30, 30, 30);
    color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: monospace;
    overflow-x: hidden;
    max-width: 100%;
    white-space: nowrap;
}
.container {
    margin: 0;
    padding: 0;
}
#disabler {
    position: absolute;
    top: calc(50% - 30%);
    left: calc(50% - 30%);
    width: 60vw;
    height: 60vh;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loader h2 {
    color: darkorange;
}
#content {
    display: none;
}
#con-1 { /*BASE*/
    display: block;
}
#con-2 { /*SKILLS*/
    display: none;
}
#con-3 { /*ACHIEVEMENTS*/
    display: none;
}
#con-4 { /*CONTACT*/
    display: none;
}
#con-5 { /*FOOTER*/
    display: none;
}
#loader, #con-1 {
    display: none;
}
#content, #con-4, #con-5 {
    display: block;
}

/* ANIMATION */
@keyframes loader-exit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: 0;
    }
}
@keyframes content-entrance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        display: block;
    }
}