body {
    background-color: rgb(30, 30, 30);
    color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: monospace;
    overflow-x: hidden;
    max-width: 100%;
    white-space: nowrap;
}
.container {
    margin: 0;
    padding: 0;
}
#disabler {
    position: absolute;
    top: calc(50% - 30%);
    left: calc(50% - 30%);
    width: 60vw;
    height: 60vh;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#content {
    display: block;
}
#con-1 { /*BASE*/
    display: none;
}
#con-2 { /*SKILLS*/
    display: none;
}
#con-3 { /*ACHIEVEMENTS*/
    display: block;
}
#con-4 { /*CONTACT*/
    display: none;
}
#con-5 { /*FOOTER*/
    display: none;
}